<div class="container">
  <div class="dndPlaceholder col-md-12" #placeholder></div>
  
  <div class="row">
        <div class="col-md-6">
          <h2>Plan to Visit</h2>
        </div>
        <div class="col-md-6">
          <h2>Visited</h2>
        </div>

  </div>
  <div class="row">
    <div *ngFor="let list of lists; let i = index;" class="col-md-6" 
          [dndList] 
          [dndPlaceholder]="placeholder" 
          [dndModel]="list">
      <div *ngFor="let item of list; let j = index;" 
            class="col-md-12" 
            [dndType]="'item'" 
            (dndMoved)="removeItem(item, list)" 
            (dndMoved)="updateListMember()"
            [dndDraggable] 
            [dndObject]="item"
            [dndDragDisabled]="item.disabled">
        <div class="img-style"><img class="img-responsive" 
            [src]="item.imgUrl" 
            style="height:60px; width: 60px;" 
            [title]="item.itemsDescription">
         </div>
          <div [ngStyle]="item.disabled && {'color': 'rgb(222, 226, 232)'}">
            Destination: {{item.itemDescription}}<br>
            Moves: {{item.count}}
          </div>
      </div>
    </div>
  </div>
</div>
